<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bem Vindo!
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina inicial</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="">
      </ion-avatar>
      <h2 class="tab1_title">{{ nome_usuario }}</h2>
      <p></p>
    </ion-item>
  
    <img src="">
  
    <ion-card-content>
      <p>Oi, eu sou o Goku!.</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-card>

  <app-explore-container name="Home"></app-explore-container>
</ion-content>
